.best-sellers .product-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-bottom: calc(12px + (20 - 12) * ((100vw - 320px) / 1520));
    transition: .3s;
    padding: 5px;
}


.nav-products-best {
    padding-top: calc(15px + (35 - 15) * ((100vw - 320px) / 1300));
    padding-bottom: calc(15px + (35 - 15) * ((100vw - 320px) / 1300));
}

.nav-products-best ul {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: calc(5px + (10 - 5) * ((100vw - 320px) / 1300));
}

.nav-products-best ul>li {
    padding: 0 8px;
    margin-right: calc(2px + (15 - 2) * ((100vw - 320px) / 1300));
}

.nav-products-best button {
    text-transform: capitalize;
    font-family: 'Open Sans';
    height: calc(24px + (32 - 24) * ((100vw - 320px) / 1300));
    color: rgba(0, 0, 0, 0.50);
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / 1300));
    transition: .3s;
    font-weight: bold;
}

.nav-products-best button:hover {
    color: rgb(83, 82, 82);
}

.nav-products-best .active {
    color: black;
}

.show-all-btn {
    width: calc(74px + (92 - 74) * ((100vw - 320px) / 1300));
    height: calc(24px + (32 - 24) * ((100vw - 320px) / 1300));
    background-color: #1E2832;
    color: white;
    padding: 5px;
    align-items: center;
    gap: 4px;
    transition: .3s;
    font-size: calc(12px + (16 - 12) * ((100vw - 320px) / 1300));
    font-weight: 400;
}

.show-all-btn:hover {
    background-color: #4a4b4d;
}

@media (max-width: 420px) {
    .best-sellers .product-card {
        width: 70%;
    }
}